<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/board" th:object="${boardForm}" method="post">
        <div class="form-group">
            <label for="tag">태그명</label>
            <select name="tagId" id="tag" class="form-control">
                <option value="">태그선택</option>
                <option th:each="tag : ${tags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}"/>
            </select>
        </div>

        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="img_thumb">이미지</label>
            <input type="text" th:field="*{img_thumb}" class="form-control" placeholder="이미지 경로를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
